body {
	background: #ccc;
	color: #000;
	text-align: center;
	font-family: Verdana;
}

table {
	background: #fff;
	border: 1px solid black;

	
	

}

.center  {
	text-align: center;
}

.right  {
	text-align: right;
}

.team {
	width: 200px;
}


.date {
	width: 60px;
	text-align: center;
}


.time { width: 60px; text-align: center; }


.goals {
	width: 20px;
	text-align: center;
}
th {
	background: #f99;
}

td, th {
	border: 1px solid black;
	padding: 3px;
}